// 
//Variables
//--------------------

//FONT
$font-size: 100%;
$font-family-sans:'Open Sans', sans-serif;
$font-weight: normal;

$font-color: #323232;

    // Menu - font color
    $font-color-menu:#E5E6E4;

    // Menu - color - controls
    $color-bg-controls:#248DC1;
    $font-color-controls: #248DC1;

//Background color
$color-bg: #EEEFED;

    //BG color - Header - Site header
    $color-bg-header: #39A3D4;

    //BG color - PreFooter
    $color-bg-prefooter: #323232;
        $color-prefooter: #E5E6E4;

    //BG color - BUTTON 
    $color-bg-button: #DE5728;
    $color-bg-button02: #EEEFED;

    //BG color - ICONS
    $color-bg-icon:#EEEFED;
    $color-bg-icon02: #248DC1;
        //Color - ICONS
        $color-icon: #A6A6A6;

//Color - SELECTED
$color-sl-social: #5BD0EC;
$color-sl-navbar: #DE5728;
$color-sl-control: #248DC1;

//Footer
$color-footer: #A6A6A6;
$color-contact-footer: #E62B25;
$color-navbar-footer: #989898;

//OPACITY
$opacity: 0.8;